USE [Gateway]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22/01/2023 12:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 22/01/2023 12:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NOT NULL,
	[Vendor] [nvarchar](300) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[GatewayId] [int] NOT NULL,
	[IsOnline] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Devices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gateways]    Script Date: 22/01/2023 12:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gateways](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Ipv4Address] [nvarchar](max) NOT NULL,
	[SerialNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Gateways] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([Id], [Uid], [Vendor], [DateCreated], [GatewayId], [IsOnline]) VALUES (1063, 11, N'LGM', CAST(N'2023-01-20T06:59:52.647' AS DateTime), 3007, 1)
INSERT [dbo].[Devices] ([Id], [Uid], [Vendor], [DateCreated], [GatewayId], [IsOnline]) VALUES (1106, 19, N'Samusng', CAST(N'2023-01-20T05:01:06.703' AS DateTime), 2013, 1)
INSERT [dbo].[Devices] ([Id], [Uid], [Vendor], [DateCreated], [GatewayId], [IsOnline]) VALUES (2106, 2, N'KoK', CAST(N'2023-01-21T15:28:20.967' AS DateTime), 2013, 1)
SET IDENTITY_INSERT [dbo].[Devices] OFF
SET IDENTITY_INSERT [dbo].[Gateways] ON 

INSERT [dbo].[Gateways] ([Id], [Name], [Ipv4Address], [SerialNumber]) VALUES (2013, N'Wifi_TCP', N'10.5.8.40', N'1036')
INSERT [dbo].[Gateways] ([Id], [Name], [Ipv4Address], [SerialNumber]) VALUES (3007, N'Wifi_Varadero', N'10.5.12.71', N'0236')
INSERT [dbo].[Gateways] ([Id], [Name], [Ipv4Address], [SerialNumber]) VALUES (3009, N'Node_Etecsa', N'10.15.2.23', N'xd12')
SET IDENTITY_INSERT [dbo].[Gateways] OFF
ALTER TABLE [dbo].[Devices] ADD  DEFAULT ((0)) FOR [IsOnline]
GO
ALTER TABLE [dbo].[Gateways] ADD  DEFAULT ('') FOR [SerialNumber]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Devices_dbo.Gateways_GatewayId] FOREIGN KEY([GatewayId])
REFERENCES [dbo].[Gateways] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_dbo.Devices_dbo.Gateways_GatewayId]
GO
